<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2><strong>!Aviso¡</strong></h2> <br />
          <h4><strong>{{'mobile.generics.retryUnlockingFailed' | translate}}</strong></h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="mango" (click)="closeModal()" onkeypress="closeModal()">{{'mobile.generics.Aceptar' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
